HEAD
# Python cache
__pycache__/
*.pyc

# Logs y wandb
*.log
wandb/
__pycache__/
*.pyc
*.log
*.npz
*.tar.gz
*.pt
wandb/
*.bash_history
logs/
condorInteractive
condorSubmit
*.npz
*.out
.Xauthority
*.sh
*condorSubmit*
*hdf5
*.h5
*.log
*.parquet
*.csv
wandb/
*png
*.ckpt
0b9a6c8393a90993f005d4387332b6e1fee701ad
