HEAD
# Python cache
__pycache__/
*.pyc

# Logs y wandb
*.log
wandb/
__pycache__/
*.pyc
*.log
*.npz
*.tar.gz
*.pt
wandb/
*.bash_history
logs/
condorInteractive
condorSubmit
*.npz
*.out
.Xauthority
*.sh
*condorSubmit*
*hdf5
*.h5
*.log
*.parquet
*.csv
wandb/
*png
*.ckpt
gatr_autoencoder_graph
*.json
*html
CLAUDE.md
.claude
# === EXCEPCIÓN resultados HDBSCAN ===
!resultados_hdbscan/
!resultados_hdbscan/*.png
!resultados_hdbscan/*.csv
!resultados_hdbscan/*.txt
!resultados_hdbscan_total/
!resultados_hdbscan_total/*
!resultados_hdbscan_total/*.png
!resultados_hdbscan_total/*.csv
!resultados_gmm_piones/*.png
!analysis_results/*.png
testbeam_results/*.csv
testbeam_results/*.csv
testbeam_results/*.csv
